@charset "UTF-8";
/*Обнуление*/
@import url("https://fonts.googleapis.com/css?family=Inter:regular,700&display=swap");
* {
  padding: 0;
  margin: 0;
  border: 0;
}

*,
*:before,
*:after {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

:focus,
:active {
  outline: none;
}

a:focus,
a:active {
  outline: none;
}

nav,
footer,
header,
aside {
  display: block;
}

html,
body {
  height: 100%;
  width: 100%;
  font-size: 100%;
  line-height: 1;
  font-size: 14px;
  -ms-text-size-adjust: 100%;
  -moz-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
}

input,
button,
textarea {
  font-family: inherit;
}

input::-ms-clear {
  display: none;
}

button {
  cursor: pointer;
}

button::-moz-focus-inner {
  padding: 0;
  border: 0;
}

a,
a:visited {
  text-decoration: none;
}

a:hover {
  text-decoration: none;
}

ul li {
  list-style: none;
}

img {
  vertical-align: top;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-size: inherit;
  font-weight: inherit;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

/*--------------------*/
body {
  font-family: "Inter", sans-serif;
  font-size: 16px;
  color: #fff;
  background-color: #2d2d2d;
}

[class*="__container"] {
  max-width: 1200px;
  margin: 0 auto;
  padding: 0 15px;
}

.wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  min-height: 100%;
  overflow: hidden;
}

.calculation {
  padding: 70px 0;
}

@media (max-width: 992px) {
  .calculation {
    padding: 50px 0 70px 0;
  }
}

@media (max-width: 767px) {
  .calculation {
    padding: 30px 0 70px 0;
  }
}

.calculation__container {
  text-align: center;
}

.calculation__title {
  font-size: 40px;
  line-height: 110%;
  font-weight: 700;
  text-transform: uppercase;
}

.calculation__title:not(:last-child) {
  margin-bottom: 30px;
}

@media (max-width: 767px) {
  .calculation__title {
    font-size: 36px;
  }
}

.calculation__descr {
  font-size: 20px;
  line-height: 140%;
}

.calculation__descr:not(:last-child) {
  margin-bottom: 80px;
}

.calculation__descr_bold {
  font-weight: 700;
}

.calculation__descr_aqua {
  color: #00fff0;
  white-space: nowrap;
}

.calculation__descr_green {
  color: #2cff5b;
  white-space: nowrap;
}

.calculation__descr_purpl {
  color: #fb40ff;
  white-space: nowrap;
}

.calculation__descr_yellow {
  color: #ebff00;
  white-space: nowrap;
}

@media (max-width: 992px) {
  .calculation__descr:not(:last-child) {
    margin-bottom: 50px;
    font-size: 18px;
  }
}

@media (max-width: 480px) {
  .calculation__descr:not(:last-child) {
    margin-bottom: 30px;
  }
}

.calculation__wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.calculation__body {
  max-width: 400px;
  width: 100%;
}

.calculation__body:not(:last-child) {
  margin-bottom: 15px;
}

.calculation__text {
  text-align: left;
}

.calculation__text:not(:last-child) {
  margin-bottom: 10px;
}

.calculation__input {
  font-size: 16px;
  color: #fff;
  font-weight: 700;
  width: 100%;
  background-color: transparent;
  border-radius: 8px;
  border: 1px solid #00fff0;
  padding: 15px;
}

.calculation__dropdown {
  position: relative;
  text-align: left;
  min-width: 45px;
  border: 1px solid #00fff0;
  border-radius: 8px;
  -webkit-transition: background-color 0.3s ease 0s;
  transition: background-color 0.3s ease 0s;
}

@media (any-hover: hover) {
  .calculation__dropdown:hover {
    background-color: #202020;
    color: #2d2d2d;
  }
}

.calculation__select {
  padding: 15px 15px 15px 15px;
  color: #fff;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  gap: 6px;
  cursor: pointer;
}

.calculation__selected_big {
  font-size: 16px;
}

.calculation__caret {
  -webkit-transition: 0.3s;
  transition: 0.3s;
}

.calculation__caret.caret-rotate {
  -webkit-transform: rotate(180deg);
          transform: rotate(180deg);
}

.calculation__list {
  padding: 10px 5px;
  background: #2d2d2d;
  border: 15px solid #2d2d2d;
  -webkit-box-shadow: 0 0 0.8em 1em rgba(0, 0, 0, 0.1);
          box-shadow: 0 0 0.8em 1em rgba(0, 0, 0, 0.1);
  border-radius: 6px;
  color: #fff;
  position: absolute;
  top: 55px;
  left: 43%;
  width: 101%;
  -webkit-transform: translateX(-43%);
          transform: translateX(-43%);
  opacity: 0;
  visibility: hidden;
  -webkit-transition: 0.3s;
  transition: 0.3s;
  z-index: 1;
}

.calculation__list.menu-open {
  visibility: visible;
  opacity: 1;
}

.calculation__item {
  padding: 3px 5px;
  border-radius: 4px;
  cursor: pointer;
  -webkit-transition: all 0.3s ease 0s;
  transition: all 0.3s ease 0s;
}

.calculation__item:not(:last-child) {
  margin-bottom: 18px;
}

.calculation__item span {
  font-weight: 700;
  font-size: 20px;
}

.calculation__item.active {
  background: #202020;
  color: #fff;
  font-size: 18px;
  padding: 10px;
}

@media (any-hover: hover) {
  .calculation__item.active:hover {
    background: #fff;
    color: #2d2d2d;
  }
}

.calculation__btn {
  width: 100%;
  color: #fff;
  background-color: transparent;
  font-weight: 700;
  text-transform: uppercase;
  border: 1px solid #00fff0;
  padding: 15px;
  border-radius: 8px;
  -webkit-transition: background-color 0.3s ease 0s, color 0.3s ease 0s;
  transition: background-color 0.3s ease 0s, color 0.3s ease 0s;
}

@media (any-hover: hover) {
  .calculation__btn:hover {
    background-color: #00fff0;
    color: #000;
  }
}
